*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.container {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 1200px;
}

.nav {
  grid-column-start: 1;
  background: white;
  padding: 1em;
  line-height: 1.5;
}

.nav > h2 {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav-btn {
  background-color: rgb(29, 161, 242);
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  min-width: calc(78.89px);
  min-height: 49px;
  cursor: pointer;
  padding-left: 50px;
  padding-right: 50px;
  border-width: 1px solid rgba(0, 0, 0, 0);
  border-radius: 9999px;
}

.main {
  grid-column-start: 2;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.sidebar {
  grid-column-start: 3;
}
