nav {
  padding-top: 40px;
}

.nav {
  border-right: 1px solid #1c1c1c;
  max-width: 100px;
  min-width: 70px;
  width: 20%;
}

.nav__container {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100px;
  min-width: 70px;
  width: 20%;
}

.nav__logo {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #00adff;
}

.nav__home {
  color: #00adff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  height: 40px;
  align-items: center;
}

.nav__home::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #00adff;
}

.nav__profile {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}
