.search {
  flex: 1;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.search__input {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #979797;
}

.search__input input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.search__input input:focus {
  outline: none;
}

.search__welcome-message {
  color: white;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
}

.search__tweet {
  display: flex;
  flex-direction: row;
}
